<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pet Depot</title>
        <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="manifest" href="petstore.webmanifest">
        <style>
            .product{
                border: 1px grey solid;
                padding: 20px;
                margin: 20px;
                text-align: center;
                display: flex;
                flex-direction: column;
            }
        </style>
    
    </head>
    <body>
        <div id="app">
            <header>
                <h1 v-text="sitename"></h1>
                <button v-on:click="showCheckout">
                    {{ cartItemCount }}
                    <span class="fas fa-cart-plus"></span> 
                    Checkout
                </button>
            </header>
            <main>
                <div v-if="showProduct">
                    <div class="product" v-for="product in sortedProducts">
                        <figure style="display: inline-block;">
                            <img v-bind:src="product.image" style="height: 130px; width: 155px;">
                        </figure>
                        <div id="info" style="display: inline-block;">
                            <h2 v-text="product.title"></h2>
                            <p v-html="product.description"></p>
                            <p>Price: {{product.price}}</p>
                            <!--p>Available Stock: {{product.availableInv}}</p -->
                            <button v-on:click="addCart(product)" v-if="canAddToCart(product)">Add to Cart</button>
                            <button disabled="disabled" v-else>Add to Cart</button>
                            
                            <span v-if="product.availableInv === cartCount(product.id)">All Out!!</span>
                            <span v-else-if="product.availableInv - cartCount(product.id) < 5">Only {{product.availableInv - cartCount(product.id)}} left!</span >
                            <span v-else>Buy Now!!</span>
                            <div>
                                <span v-for="n in product.rating">★</span>
                                <span v-for="n in 5 - product.rating">☆</span>
                            </div>
                        </div>
                    </div>    
                </div>
                <div v-else>
                    <h2>Checkout</h2>
                    <p>
                        <strong>First Name:</strong>
                        <input v-model.trim="order.firstName">
                    </p>
                    <p>
                        <strong>Last Name:</strong>
                        <input v-model.trim="order.lastName">
                    </p>
                    <p><strong>Address:</strong> <input v-model="order.address"></p>
                    <p><strong>City:</strong> <input v-model="order.city"></p>
                        <strong>State:</strong>
                        <select v-model="order.state">
                            <option disabled>State</option>
                            <option v-for="(state, key) in states" v-bind:value="state">{{key}}</option>
                        </select>
                    </p>
                    <p><strong>Zip/Postal Code:</strong> <input v-model.number="order.zip" type="number"></p>

                    <p><input type="checkbox" value="false" v-model="order.gift" v-bind:true-value="order.sendGift" v-bind:false-value="order.notGift">Ship as Gift</p>
                    <p><input type="radio" value="Home" v-model="order.method">Home
                    <input type="radio" value="Business" v-model="order.method">Business</p>

                    <h2>Order Information</h2>
                    <p>First Name: {{order.firstName}}</p>
                    <p>Last Name: {{order.lastName}}</p>
                    <p>Address: {{order.address}}</p>
                    <p>City: {{order.city}}</p>
                    <p>State: {{order.state}}</p>
                    <p>Zip/Postal Code: {{order.zip}}</p>
                    <p>Gift? {{order.gift}}</p>
                    <p>method: {{order.method}}</p>

                    <button v-on:click="submitForm">Place Order</button>
                </div>
            </main>
        </div>
        <script src="products.js"></script>
        <script>
            let webstore = new Vue ({
                el: '#app',
                data: {
                    showProduct: true,
                    sitename: "Vue.js Pet Depot",
                    cart: [],
                    products: products,
                    order: {
                        firstName: '',
                        lastName: '',
                        address: '',
                        city: '',
                        state: '',
                        zip: '',
                        gift: '',
                        method: 'Home',
                        sendGift: 'Send as a gift',
                        notGift: 'Do not send as a gift'
                    },
                    states:{
                        AL: 'Alabama',
                        AR: 'Arizona',
                        CA: 'California',
                        NV: 'Nevada'
                    }
                },
                methods: {
                    cartCount: function(id){
                        let count = 0;
                        for(let i=0;i< this.cart.length; i++){
                            if (this.cart[i] === id){
                                count++;
                            }
                        }
                        return count;
                    },
                    addCart: function(product) {
                        this.cart.push(product.id);
                        //product.availableInv --;
                    },
                    showCheckout: function(){
                        this.showProduct = this.showProduct ? false:true;
                    },
                    submitForm: function() {
                        alert('Order Placed');
                    },
                    canAddToCart: function(product){
                        return product.availableInv > this.cartCount(product.id);
                    },
                    itemsLeft: function(product){
                        return product.availableInv - this.cartCount(product.id);
                    }
                },
                computed: {
                    cartItemCount: function(){
                        return this.cart.length || "";
                    },
                    sortedProducts() {
                        let productsArray = this.products.slice(0);
                        function compare(a,b) { 
                            if (a.price > b.price)
                                return -1;
                            if (a.price < b.price)
                                return 1;
                            return 0;
                        }
                        return productsArray.sort(compare); 
                    }
                }
                
            });
        </script>
    </body>
</html>